/**
 * This is for specific overrides to account for admin styles
 */

:root {
	--admin-bar-height: 32px;
}
@media (max-width: 782px) {
	:root {
		--admin-bar-height: 46px;
	}
}

.Wrapper {
	height: calc(100vh - var(--admin-bar-height));
}

.Menu {
	margin-top: var(--admin-bar-height);
}

.SkipNav,
.Menu.Menu--close {
	margin-top: calc(2rem + var(--admin-bar-height));
}

@media (min-width: 700px) {
	.Menu {
		margin-top: calc(2rem + var(--admin-bar-height));
	}
}
