@use 'globals';

:root {
	/* Colors */
	@each $color, $value in globals.$backgroundColors {
		--background-#{$color}: #{$value};
	}
	@each $color, $value in globals.$textColors {
		--text-#{$color}: #{$value};
	}

	/* Font Families */
	--font-family-header: "ChronoType";
	--font-family-regular: "Fira Sans";

	/* Font Sizes */
	--font-size-base: 1.4rem;

	$fib: 1, 2, 3, 5, 8, 13;
	$cur: 6;
	@each $num in $fib {
		--font-size-header#{$cur}: calc(var(--font-size-base) * #{$num});
		$cur: $cur - 1;
	}
	--font-size-badge: calc(var(--font-size-base) * 0.8);

	/* Spacing */
	$fib: (0.5, 1, 2, 3, 5, 8);
	$cur: 1;
	@each $num in $fib {
		--spacing#{$cur}: calc(var(--font-size-base) * #{$num});
		$cur: $cur + 1;
	}

	/* Line Height */
	--line-height-text: 1.35;
	--line-height-header: 1;
}

/**
 * The Theme Root is where all of our variables and themes are set up.
 * Anything that requires a toggle should go here.
 */
.theme-root {
	--background-color: var(--background-black);
	--text-color: var(--text-white);

	&--lightGray {
		--background-color: var(--background-lightGray);
		--text-color: var(--text-black);
	}

	&--darkGray {
		--background-color: var(--background-darkGray);
		--text-color: var(--text-white);
	}

	&--blue {
		--background-color: var(--background-blue);
		--text-color: var(--text-white);
	}

	&--magenta {
		--background-color: var(--background-magenta);
		--text-color: var(--text-white);
	}

	&--orange {
		--background-color: var(--background-orange);
		--text-color: var(--text-black);
	}

	&--darkGreen {
		--background-color: var(--background-darkGreen);
		--text-color: var(--text-white);
	}

	&--pink {
		--background-color: var(--background-pink);
		--text-color: var(--text-black);
	}

	&--purple {
		--background-color: var(--background-purple);
		--text-color: var(--text-white);
	}

	&--lightGreen {
		--background-color: var(--background-lightGreen);
		--text-color: var(--text-black);
	}

	&--yellow {
		--background-color: var(--background-yellow);
		--text-color: var(--text-black);
	}

	&--salmon {
		--background-color: var(--background-salmon);
		--text-color: var(--text-black);
	}

	&--brown {
		--background-color: var(--background-brown);
		--text-color: var(--text-white);
	}

	&--darkBlue {
		--background-color: var(--background-darkBlue);
		--text-color: var(--text-white);
	}

	&--lightBlue {
		--background-color: var(--background-lightBlue);
		--text-color: var(--text-black);
	}

	&--white {
		--background-color: var(--background-white);
		--text-color: var(--text-black);
	}
}

// ul,
// ol {
//   list-style-type: disc;
// }

// ul > li,
// ol > li {
//   margin-left: var(--space-1);
// }

// li:not(:first-child) {
//   margin-top: var(--space-1);
// }
